extends layout

block content
  .row
    .col-12
      h1 Nic's Home Control Center
      p.lead I hope you know what you're doing!
      hr
    .col-12
      #color-wheel.input-group.colorpicker-component

    .col-12
      a.btn.btn-inverse.btn-ajax(role='button', data-slug='/test', data-hex='#ff0000') Rot
      a.btn.btn-inverse.btn-ajax(role='button', data-slug='/test', data-hex='#ffff00') Gelb
      a.btn.btn-inverse.btn-ajax(role='button', data-slug='/test', data-hex='#00ff00') Grün
      a.btn.btn-inverse.btn-ajax(role='button', data-slug='/test', data-hex='#0000ff') Blau
      a.btn.btn-inverse.btn-ajax(role='button', data-slug='/test', data-hex='#ff00ff') Lila
      a.btn.btn-inverse.btn-animation(role='button', data-slug='/test', data-hex='1111111') TripleGlitter
      a.btn.btn-inverse.btn-animation(role='button', data-slug='/test', data-hex='2222222') Rainbow
      a.btn.btn-inverse.btn-animation(role='button', data-slug='/test', data-hex='3333333') Confetti
      a.btn.btn-inverse.btn-animation(role='button', data-slug='/test', data-hex='4444444') Animation 4
      a.btn.btn-inverse.btn-animation(role='button', data-slug='/test', data-hex='5555555') Animation 5
      a.btn.btn-inverse.btn-animation(role='button', data-slug='/test', data-hex='6666666') Animation 6
      a.btn.btn-inverse.btn-animation(role='button', data-slug='/test', data-hex='7777777') Animation 7
      a.btn.btn-inverse.btn-animation(role='button', data-slug='/test', data-hex='8888888') Animation 8
      a.btn.btn-inverse.btn-animation(role='button', data-slug='/test', data-hex='9999999') Animation 9